<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin | KKV</title>
    <!-- --CSS-- -->
    <link rel="stylesheet" href="/static/app/css/admincss/header.css">
    <link rel="stylesheet" href="/static/app/css/admincss/modal.css">
    <link rel="stylesheet" href="/static/app/css/admincss/index.css">
    <!-- Icons Css  -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css" />
</head>

<body>
    <%- include('../partials/header.ejs') %>
    
    <!-- --MAIN STARTS HERE-- -->
    <main data-app-page="school">
        <!-- --NAV-LISTS-- -->
        <%- include('../partials/nav.ejs') %>
            <!-- --CONTENT-- -->
            <div class="content-container"><!-- for display property -->
                <!-- HEADER CONTENT  -->
                <div class="content-header">
                    <div class="search-bar flex">
                        <input type="text" id="" placeholder="Search">
                        <i class="uil uil-search"></i>
                    </div>
                    <a class="btn" onclick="">Add</a>
                </div>

                <!-- --MAIN-CONTENT-- -->
                <div class="main-content">
                    <h4 class="uppercase">ADMISSION DETAILS</h4>
                    <div class="cgrid m-header">
                        <h5 class="uppercase">ID</h5>
                        <h5 class="uppercase">Name</h5>
                        <h5 class="uppercase">Phone Number</h5>
                        <h5 class="uppercase">Class</h5>
                    </div>
                    <div class="m-content">
                        <!-- --TABLE START HERE--  -->
                        <% result?.forEach((data)=>{ %>
                            <div class="cgrid m-details" data-stid="<%= data.student_id %>"
                                onclick="getPerStudentData(this)"">
                        <p class=" id">
                                <span class="uppercase">id</span>
                                <span>
                                    <%= data.student_id %>
                                </span>
                                </p>
                                <p class="name">
                                    <span class="uppercase">name</span>
                                    <span>
                                        <%= data.Name %>
                                    </span>
                                </p>
                                <p class="pno">
                                    <span class="uppercase">phone number</span>
                                    <span>
                                        <%= data.ph_no %>
                                    </span>
                                </p>
                                <p class="class">
                                    <span class="uppercase">class</span>
                                    <span>
                                        <%= data.class_enrolled %>
                                    </span>
                                </p>
                            </div>
                            <% }) %>
                                <!-- ------------------- -->
                    </div>
                </div>
            </div>

            <!-- --POPUP BOX-- -->
            <div class="modal-container hide">
                <div class="popupModal mainModal">

                </div>
                <div class="popupModal cPopup hide">
                    <a class="btn" onclick="photoHide()">Close</a>
                    <img src="" alt="img" id="bc-photo-school">
                </div>
            </div>
        </main>

        <!-- javascript -->
        <script src="../../static/app/js/index.js"></script>
        <script src="../../static/app/js/script.js"></script>
</body>

</html>