<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin | KKV</title>
    <!-- --CSS-- -->
    <link rel="stylesheet" href="/static/app/css/admincss/header.css">
    <link rel="stylesheet" href="/static/app/css/admincss/modal.css">
    <link rel="stylesheet" href="/static/app/css/admincss/index.css">
    <!-- Icons Css  -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css" />
</head>

<body>
<<<<<<< HEAD
    <%- include('../partials/header.ejs') %>
    
    <!-- --MAIN STARTS HERE-- -->
    <main>
        <!-- --NAV-LISTS-- -->
        <%- include('../partials/nav.ejs') %>
            <!-- --CONTENT-- -->
            <div class="content-container"><!-- for display property -->
                <!-- HEADER CONTENT  -->
                <div class="content-header">
                    <div class="search-bar flex">
                        <input type="text" id="" placeholder="Search">
                        <i class="uil uil-search"></i>
                    </div>
                    <a class="btn" onclick="">Add</a>
                </div>
=======
    <div class="header">
        <div class="top">
            <div class="logo">
                <h2>My Business</h2>
            </div>
            <div class="close">
                <span class="material-symbols-outlined operateC hide" onclick="closeMenuBar(this)">
                    close
                </span>
                <span class="material-symbols-outlined operateM" onclick="menuBar(this)">
                    menu
                </span>
            </div>
        </div>
    </div>
    <div class="container">
        <aside class="">
            <!-- sidebar -->
            <div class="sidebar">
                <a href="#" class="active"><span class="material-symbols-outlined">dashboard</span>
                    <h3>dashboard</h3>
                </a>
                <a href="/admin/college"><span class="material-symbols-outlined">
                    apartment
                    </span>
                    <h3>Go to College</h3>
                </a>
                <a href="/school-gallery"><span class="material-symbols-outlined">
                        fact_check
                    </span>
                    <h3>gallery</h3>
                </a>
                <a href="/school-stuff-edit"><span class="material-symbols-outlined">
                        groups
                    </span>
                    <h3>stuff</h3>
                </a>
                <a href="#"><span class="material-symbols-outlined">
                        logout
                    </span>
                    <h3>logout</h3>
                </a>
            </div>
        </aside>
        <!-- main section -->
        <main>
            <div class="searchBar">
                <input type="text" placeholder="Search by name">
                <span class="material-symbols-outlined">
                    search
                </span>
            </div>
            <div class="recent-adm">
                <h2>
                    Recent Admission
                </h2>
>>>>>>> 60457cf48f2e5d0e9bd93c92bb41c390d9727957

                <!-- --MAIN-CONTENT-- -->
                <div class="main-content">
                    <h4 class="uppercase">ADMISSION DETAILS</h4>
                    <div class="cgrid m-header">
                        <h5 class="uppercase">ID</h5>
                        <h5 class="uppercase">Name</h5>
                        <h5 class="uppercase">Phone Number</h5>
                        <h5 class="uppercase">Class</h5>
                    </div>
                    <div class="m-content">
                        <!-- --TABLE START HERE--  -->
                        <% result?.forEach((data)=>{ %>
                            <div class="cgrid m-details" data-stid="<%= data.student_id %>"
                                onclick="getPerStudentData(this)"">
                        <p class=" id">
                                <span class="uppercase">id</span>
                                <span>
                                    <%= data.student_id %>
                                </span>
                                </p>
                                <p class="name">
                                    <span class="uppercase">name</span>
                                    <span>
                                        <%= data.Name %>
                                    </span>
                                </p>
                                <p class="pno">
                                    <span class="uppercase">phone number</span>
                                    <span>
                                        <%= data.ph_no %>
                                    </span>
                                </p>
                                <p class="class">
                                    <span class="uppercase">class</span>
                                    <span>
                                        <%= data.class_enrolled %>
                                    </span>
                                </p>
                            </div>
                            <% }) %>
                                <!-- ------------------- -->
                    </div>
                </div>
            </div>

            <!-- --POPUP BOX-- -->
            <div class="modal-container hide">
                <div class="popupModal mainModal">

                </div>
            </div>
        </main>

        <!-- javascript -->
        <script src="../../static/app/js/index.js"></script>
        <script src="../../static/app/js/script.js"></script>
</body>

</html>