<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prinicpal's Desk | KKV</title>

    <link rel="stylesheet" href="/static/app/css/main.css" />
    <link rel="stylesheet" href="/static/app/css/file.css" />

    <!-- Icons Css  -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css" />
</head>

<body>
        <%- include('../partials/header.ejs') %>
        <%- include('../partials/nav.ejs') %>
        <section class="staff cover wigin mt">
        <h2 class="uppercase">HEAD STAFF</h2>
        <div class="coverBox boxContainer gridBox">
            <% results?.forEach((el)=>{ %>
                <% if (el.category.toLowerCase() == 'head-staff') { %>
                <div class="profile boxContainer">
                    <img src="/static<%= el.stuff_img %>" alt="image">
                    <p class="uppercase"><%= el.name %></p>
                    <p class="color name"><%= el.position %></p>
                </div>
                <% } %>
            <% }) %>
        </div>
        <!-- 1st Box ends  -->
        <h2 class="uppercase">Teaching staff</h2>
        <div class="coverBox boxContainer gridBox">
            <!-- profile  -->
            <% results?.forEach((el)=>{ %>
                <% if (el.category.toLowerCase() == 'teaching-staff') { %>
            <div class="profile boxContainer">
                <img src="/static<%= el.stuff_img %>" alt="image">
                <p class="uppercase"><%= el.name %>, <%= el.designation %></p>
                <p class="name">Subject: <span class="color"><%= el.subject %></span></p>
            </div>
            <% } %>
            <% }) %>
            <!-- profile-end  -->
        </div>

        <h2 class="uppercase">Non-Teaching Staff</h2>
        <div class="coverBox boxContainer gridBox">
            <% results?.forEach((el)=>{ %>
                <% if (el.category.toLowerCase() == 'non-teaching-staff') { %>
            <div class="profile boxContainer">
                <img src="/static<%= el.stuff_img %>" alt="image">
                <p class="uppercase"><%= el.name %> </p>
                <p class="color name"><%= el.position %></p>
            </div>
            <% } %>
            <% }) %>
        </div>
    </section>
    <%- include('../partials/footer.ejs') %>
    <script src="/static/app/js/main.js"></script>
</body>

</html>