<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin | KKV</title>
    <!-- --CSS-- -->
    <link rel="stylesheet" href="/static/app/css/admincss/header.css">
    <link rel="stylesheet" href="/static/app/css/admincss/modal.css">
    <link rel="stylesheet" href="/static/app/css/admincss/index.css">
    <!-- Icons Css  -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css" />
</head>

<body>
    <%- include('../partials/college.header.ejs') %>

        <!-- --MAIN STARTS HERE-- -->
        <main data-app-page="college">
            <!-- --NAV-LISTS-- -->
            <%- include('../partials/college.nav.ejs') %>
                <!-- --CONTENT-- -->
                <div class="content-container"><!-- for display property -->
                    <!-- HEADER CONTENT  -->
                    <div class="content-header">
                        <div class="search-bar flex">
                            <input type="text" id="" placeholder="Search">
                            <i class="uil uil-search"></i>
                        </div>
                        <a class="btn" onclick="">Add</a>
                    </div>

                    <!-- --MAIN-CONTENT-- -->
                    <div class="main-content">
                        <h4 class="uppercase">ADMISSION DETAILS</h4>
                        <div class="cgrid m-header">
                            <h5 class="uppercase">ID</h5>
                            <h5 class="uppercase">Name</h5>
                            <h5 class="uppercase">Phone Number</h5>
                            <h5 class="uppercase">Class</h5>
                        </div>
                        <div class="m-content">
                            <!-- --TABLE START HERE--  -->
                            <% result?.forEach((data)=>{ %>
                                <div class="cgrid m-details" data-stid="<%= data.id %>"
                                    onclick="getCollegeEachStudentData(this)">
                                    <p class="id">
                                        <span class="uppercase">id</span>
                                        <span>
                                            <%= data.id %>
                                        </span>
                                    </p>
                                    <p class="name">
                                        <span class="uppercase">name</span>
                                        <span>
                                            <%= data.name %>
                                        </span>
                                    </p>
                                    <p class="pno">
                                        <span class="uppercase">phone number</span>
                                        <span>
                                            <%= data.phno %>
                                        </span>
                                    </p>
                                    <p class="pclass">
                                        <span class="uppercase">class</span>
                                        <span>
                                            XI
                                        </span>
                                    </p>
                                </div>
                                <% }) %>
                                    <!-- ------------------- -->
                        </div>
                    </div>
                </div>

                <!-- --POPUP BOX-- -->
                <div class="modal-container hide">
                    <div class="popupModal mainModal">

                    </div>
                    <div class="popupModal cPopup hide">
                        <a class="btn" onclick="photoHide()">Close</a>
                        <img src="/static/app/img/moon.jpg" alt="img">
                    </div>
                </div>
        </main>

        <!-- javascript -->
        <script src="../../static/app/js/index.js"></script>
        <script src="../../static/app/js/script.js"></script>
</body>

</html>