<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin | Staff | KKV</title>

    <!-- CSS  -->
    <link rel="stylesheet" href="/static/app/css/admincss/header.css">
    <link rel="stylesheet" href="/static/app/css/admincss/modal.css">
    <link rel="stylesheet" href="/static/app/css/admincss/index.css">
    <!-- Icons Css  -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css" />
</head>

<body>
    <%- include('../partials/college.header.ejs') %>
        <main>
            <!-- --NAV-LISTS-- -->
            <%- include('../partials/college.nav.ejs') %>
                <!-- --CONTENT-- -->
                <div class="content-container"><!-- for display property -->
                    <div class="common-container staff-header-container flex">
                        <h3 class="uppercase color">College Staff</h3>
                        <a class="btn" onclick="openModalwindow('modal-container-add')">Add <i
                                class="uil uil-plus-circle"></i></a>
                    </div>
                    <div class="common-container staff-type-container flex">
                        <a class="btn" id="Head-staff" onclick="filterCat(this)">Head-Staff</a>
                        <a class="btn" id="Non-Teaching-staff" onclick="filterCat(this)">Non-Teaching Staff</i></a>
                        <a class="btn" id="Teaching-staff" onclick="filterCat(this)">Teaching-Staff</a>
                    </div>
                    <!-- ---------IMAGE-CONTAINER-------------- -->
                    <div class="staff-img-grid wigin" id="filterCat">
                        <!-- --------------BOX START-------------- -->
                        <% result?.forEach((el)=>{ %>
                            <div class="field flex" data-category="<%= el.category %>">
                                <img src="/static/<%= el.stuff_img %>" alt="img">
                                <div class="field-data">
                                    <p class="staff-name">
                                        <span>Category:</span> <span>
                                            <%= el.category.toUpperCase() %>
                                        </span>
                                    </p>
                                    <p class="staff-name">
                                        <span>Name:</span> <span>
                                            <%= el.name %>
                                        </span>
                                    </p>
                                    <p class="staff-deg">
                                        <span>Degree:</span> <span>
                                            <%= el.designation ? el.designation : "N/A" %>
                                        </span>
                                    </p>
                                    <p class="staff-designation">
                                        <span>Position:</span> <span>
                                            <%= el.position %>
                                        </span>
                                    </p>
                                    <p class="staff-subject">
                                        <span>Subject:</span> <span>
                                            <%= el.subject ? el.subject : "N/A" %>
                                        </span>
                                    </p>
                                </div>
                                <a class="btn pen" data-tid="<%= el.t_id %>" onclick="editStuff(this)"><i
                                        class="uil uil-pen"></i><span>Edit</span></a>
                                <a class="btn trash" data-tid="<%= el.t_id %>" onclick="deleteStuff(this, 'college')"><i
                                        class="uil uil-trash"></i></a>
                            </div>
                            <% }) %>
                                <!-- ----------BOX END---------- -->
                    </div>
                    <!-- --------POPUP BOX----------- -->
                    <div class="modal-container hide" id="modal-container-add">
                        <div class="popupModal">
                            <form id="add-stuff">
                                <div class="field flex">
                                    <h4 class="uppercase color"><span>Add</span> staff-details</h4>
                                </div>
                                <hr>
                                <div class="field flex">
                                    <img src="/static/assets/admin-staff/rectr.jpg" alt="img">
                                    <input type="file" name="coll-stuff-img" value="herii.jpg">
                                    <a class="btn" onclick="">Upload <i class="uil uil-image-upload"></i></a>
                                </div>
                                <div class="field">
                                    <select name="category" onchange="showMoreFormdetails(this)">
                                        <option hidden>--Select Category First--</option>
                                        <option value="Head-staff">HeadStaff</option>
                                        <option value="Teaching-staff">Teaching stuff</option>
                                        <option value="Non-Teaching-staff">Non teaching Stuff</option>
                                    </select>
                                </div>
                                <div class="pop-grid" id="form-ex">
                                    <div class="field hide">
                                        <label for="sname">Name</label>
                                        <input type="text" name="name" placeholder="e.g.: Anu Malik">
                                    </div>
                                    <div class="field hide">
                                        <label for="sname">Position</label>
                                        <input type="text" name="position" placeholder="e.g.: M.Sc., M.Phil.">
                                    </div>
                                    <div class="field hide">
                                        <label for="sname">Qualification</label>
                                        <input type="text" name="designation" placeholder="e.g.: Assistant">
                                    </div>
                                    <div class="field hide">
                                        <label for="sname">Subject</label>
                                        <input type="text" name="subject" placeholder="e.g.: Assamese">
                                    </div>
                                </div>
                            </form>
                            <div class="field field-btns flex">
                                <a class="btn uppercase" onclick="sendStuffData('add-stuff', 'college')">update</a>
                                <a class="btn uppercase" onclick="closeModalwindow('modal-container-add')">cancel</a>
                            </div>
                        </div>
                    </div>
                    <div class="modal-container hide" id="modal-container-edit">
                        <div class="popupModal">
                            <form id="edit-stuff">
                                <div class="field flex">
                                    <h4 class="uppercase color"><span>Add</span> staff-details</h4>
                                </div>
                                <hr>
                                <div class="field flex hide">
                                    <select name="category" onchange="showMoreFormdetails(this)" id="edit-category">
                                        <option hidden>--Select Category First--</option>
                                        <option value="Head-staff">HeadStaff</option>
                                        <option value="Teaching-staff">Teaching stuff</option>
                                        <option value="Non-Teaching-staff">Non teaching Stuff</option>
                                    </select>
                                </div>
                                <div class="field flex">
                                    <img id="stuffImg" src="/static/assets/admin-staf/rector.jpg" alt="img">
                                    <input type="file" name="coll-stuff-img" id="file-staff"
                                        value="/static/assets/admin-staff/rector.jpg">
                                    <a class="btn" onclick="">Upload <i class="uil uil-image-upload"></i></a>
                                </div>
                                <div class="pop-grid" id="form-ex-edit">
                                    <div class="field">
                                        <label for="sname">Name</label>
                                        <input type="text" name="name" placeholder="e.g.: Anu Malik">
                                    </div>
                                    <div class="field">
                                        <label for="sname">Position</label>
                                        <input type="text" name="position" placeholder="e.g.: M.Sc., M.Phil.">
                                    </div>
                                    <div class="field">
                                        <label for="sname">Qualification</label>
                                        <input type="text" name="designation" placeholder="e.g.: Assistant">
                                    </div>
                                    <div class="field">
                                        <label for="sname">Subject</label>
                                        <input type="text" name="subject" placeholder="e.g.: Assamese">
                                    </div>
                                </div>
                            </form>
                            <div class="field field-btns flex">
                                <a class="btn uppercase tid" id="" onclick="updateStuff('college')">update</a>
                                <a class="btn uppercase" onclick="closeModalwindow('modal-container-edit')">cancel</a>
                            </div>
                        </div>
                    </div>
                </div>
        </main>

        <!-- javascript -->
        <script src="/static/app/js/gal.js"></script>
</body>

</html>