<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staff | KKV</title>

    <link rel="stylesheet" href="/static/SCHOOL/css/main.css" />
    <link rel="stylesheet" href="/static/SCHOOL/css/file.css" />

    <!-- Icons Css  -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css" />
</head>

<body>
    <%- include('../partials/school.header.ejs') %>
        <%- include('../partials/school.nav.ejs') %>
            <section class="staff cover wigin mt">
                <h2 class="uppercase">HEAD STAFF</h2>
                <div class="coverBox boxContainer gridBox">
                    <% results?.forEach((el)=>{ %>
                        <% if (el.category.toLowerCase()=="head-staff" ){ %>
                            <div class="profile boxContainer">
                                <img src="/static<%= el.stuff_img%>" alt="image">
                                <p class="uppercase"><%= el.name %></p>
                                <p class="color name"><%= el.position ? el.position : "" %></p>
                            </div>
                            <% } %>
                                <% }) %>

                </div>
                <!-- 1st Box ends  -->
                <h2 class="uppercase">Teaching staff</h2>
                <div class="coverBox boxContainer gridBox">
                    <% results?.forEach((el)=>{ %>
                        <% if (el.category.toLowerCase()=="teaching-staff" ){ %>
                            <div class="profile boxContainer">
                                <img src="/static<%= el.stuff_img%>" alt="image">
                                <p class="uppercase"><%= el.name %>,  <%= el.designation %></p>
                                <!-- <p class="name">Subject: <span class="color">English</span></p> -->
                            </div>
                            <% } %>
                                <% }) %>
                </div>
                <!-- --------------------------------------------------------------------------------------------------------------------------------- -->
                <h2 class="uppercase">Non-Teaching Staff</h2>
                <div class="coverBox boxContainer gridBox">
                    <% results?.forEach((el)=>{ %>
                        <% if (el.category.toLowerCase()=="non-teaching-staff" ){ %>
                            <div class="profile boxContainer">
                                <img src="/static<%= el.stuff_img%>" alt="image">
                                <p class="uppercase"><%= el.name %></p>
                                <p class="color name"><%= el.position ? el.position : "" %></p>
                            </div>
                            <% } %>
                                <% }) %>
                                    <!-- ---------------------------------------------------------------- -->
                </div>
            </section>
            <%- include('../partials/school.footer.ejs') %>

</body>

</html>